<!doctype html>
<head>
    <title>IoT Luk Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1 class="display-6 fw-bold text-primary">IoT Luk Dashboard</h1>            
          </div>
          <div>
            <h2>devices:</h2>

              <ul id="events">
              {% for event in events %}
                  <li>{{ event.name }}</a></li>
              {% endfor %}
              </ul>
          </div>

     </main>      
   </body>
</html>